<%- include('partials/header') %>
<body>
<%- include('partials/navbar') %>

<main class="container mt-5">
    <div class="dashboard row mt-5">
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Budget</h5>
                    <p class="card-text fs-4"><%= totalData.totalBudget.toFixed(2) %> Ar</p>
                    <a href="/data-total/details?type=0" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Ticket Expenses</h5>
                    <p class="card-text fs-4"><%= totalData.totalTicketExpense.toFixed(2) %> Ar</p>
                    <a href="/data-total/details?type=1" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Lead Expenses</h5>
                    <p class="card-text fs-4"><%= totalData.totalLeadExpense.toFixed(2) %> Ar</p>
                    <a href="/data-total/details?type=2" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('partials/footer') %>